.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.img-box{
    width: 100%;
    height: 280px;
    border: 1px solid #ebebeb;
    margin-bottom: 35px;
    float: left;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btnBrowse{
    width: 100%;
    margin: auto;
    background-color: #10b671;
    padding: 8px 25px;
    text-align: center;
    float: left;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.upload-box{
    opacity: 0;
}

form{
    border: 1px solid #eee;
}

.f-header{
    background-color: #eee;
    padding: 10px;
    font-size: 19px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.f-body{
    padding: 20px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.f-footer{
    width: 100%;
    background-color: #eee;
    padding: 10px 25px;
    float: left;
}
.f-footer #btn-save{
    float: right;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

/* .file{
    width: 250px;
    height: 300px;
} */

.a-form{
    margin: auto;
}
