<div class="main-content">
  <div class="row">
    <div class="col-xl-8 a-form">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="f-header">
          {{ "BOOK_FORM.FORM" | translate }}
        </div>
        <div class="f-body">
          <div class="row">
            <div class="col-xl-7">
              <div class="form-group">
                <label>{{ "BOOK_FORM.TITLE" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'BOOK_FORM.TITLE_PHD' | translate }}"
                  formControlName="title"
                  name="title"
                  [ngClass]="{
                    'is-invalid': !title.valid && (title.dirty || title.touched)
                  }"
                  required
                />
                <div
                  *ngIf="!title.valid && (title.dirty || title.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="title.errors.required">Title is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{ "BOOK_FORM.AUTHOR" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'BOOK_FORM.AUTHOR_PHD' | translate }}"
                  formControlName="author"
                  name="author"
                  [ngClass]="{
                    'is-invalid':
                      !author.valid && (author.dirty || author.touched)
                  }"
                  required
                />
                <div
                  *ngIf="!author.valid && (author.dirty || author.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="author.errors.required">Autor is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Category</label>
                <select
                  class="form-control"
                  name="category"
                  formControlName="category"
                  [ngClass]="{
                    'is-invalid':
                      !category.valid && (category.dirty || category.touched)
                  }"
                  required
                >
                  <option value="">--Select--</option>
                  <option *ngFor="let item of categories" [value]="item.id">
                    {{ item.title }}
                  </option>
                </select>
                <div
                  *ngIf="
                    !category.valid && (category.dirty || category.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="category.errors.required">
                    Category is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{ "BOOK_FORM.DESCRIPTION" | translate }}</label>
                <textarea
                  class="form-control"
                  placeholder="{{ 'BOOK_FORM.DESCRIPTION_PHD' | translate }}"
                  formControlName="description"
                  name="description"
                  [ngClass]="{
                    'is-invalid':
                      !description.valid &&
                      (description.dirty || description.touched)
                  }"
                  required
                  rows="4"
                ></textarea>
                <div
                  *ngIf="
                    !description.valid &&
                    (description.dirty || description.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="description.errors.required">
                    Description is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="form-group">
                <label>{{ "BOOK_FORM.THUMBNAIL" | translate }}</label>
                <div class="img-box">
                  <img [src]="imageSrc" alt="thumbnail" />
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    (change)="onFileChange($event)"
                    id="customFile"
                  />
                  <label class="custom-file-label" for="customFile"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="f-footer">
          <button
            [disabled]="!bookForm.valid"
            type="submit"
            id="btn-save"
            class="btn btn-primary"
          >
            {{ "BOOK_FORM.SAVE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
