<div class="container-fluid navbar-dark bg-dark">
  <div class="main-content">
    <div class="row">
      <div class="col-xl-4 logo">
        <span routerLink="/">{{ "MENU.LOGO" | translate }}</span>
      </div>
      <div class="col-xl-4 menu">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active">{{
              "MENU.HOME" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/category" routerLinkActive="active">{{
              "MENU.CATEGORY" | translate
            }}</a>
          </li>
          <li>
            <select #langselect (change)="translate.use(langselect.value)">
              <option value="English">English</option>
              <option value="Khmer">Khmer</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="col-xl-2">
        <div class="flag">
          <img src="{{ 'MENU.FLAG' | translate }}"/>
        </div>
      </div>
    </div>
  </div>
</div>
