.main-content{
    width: 90%;
    margin: auto;
}

.logo{
    margin-top: 12px;
    color: #fff;
    font-size: 22px;
    font-family: "Fugaz One", "Battambang", sans-serif;
    cursor: pointer;
}

.logo span{
    outline: none;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li{
    display: block;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.menu ul li a:hover{
    color: #c7c7c7;
}

.active{
    color: #000;
}

.menu ul li select{
    border: none;
    background: none;
    outline: none;
    color: #fff;
}

.menu ul li select{
    color: #fff;
    width: 90px;
}

.menu ul li select option{
    color: #000;
}

.flag{
    margin: 12px;
}

