<div class="main-content">
  <div class="row">
    <div class="col-xl-4 a-form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="f-header">
          {{ "CATEGORY_FORM.FORM" | translate }}
        </div>
        <div class="f-body">
          <div class="form-group">
            <label for="exampleInputEmail1">{{
              "CATEGORY_FORM.TITLE" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              placeholder="{{ 'CATEGORY_FORM.TITLE_PHD' | translate }}"
              formControlName="title"
              name="title"
              [ngClass]="{
                'is-invalid': !title.valid && (title.dirty || title.touched)
              }"
              required
            />
            <div
              *ngIf="!title.valid && (title.dirty || title.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="title.errors.required">Title is required</div>
              <div *ngIf="title.errors.maxlength">
                Title must be small than 30 character
              </div>
            </div>
          </div>
        </div>
        <div class="f-footer">
          <button
            [disabled]="!registerForm.valid"
            type="submit"
            id="btn-save"
            class="btn btn-primary"
          >
            {{ "CATEGORY_FORM.SAVE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
