.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

form{
    border: 1px solid #eee;
}

.f-header{
    background-color: #eee;
    padding: 10px;
    font-size: 19px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.f-body{
    padding: 20px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.f-footer{
    width: 100%;
    background-color: #eee;
    padding: 10px 25px;
    float: left;
}
.f-footer #btn-save{
    float: right;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.a-form{
    margin: auto;
}
