<div class="main-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-7 main-font">
          <button type="button" routerLink="/book/add" class="btn btn-primary">
            {{ "HOME.ADD" | translate }}
          </button>
        </div>
        <div class="col-xl-2">
          <form>
            <div class="form-group">
              <select
                class="form-control"
              >
                <option value="filter">--Filter By Category--</option>
                <option *ngFor="let item of categories" [value]="item.id">
                  {{ item.title }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-xl-3">
          <form>
            <div class="form-group">
              <input
                type="text"
                name="title"
                [(ngModel)]="title"
                (keyup)="onSearch()"
                class="form-control main-font"
                placeholder="{{ 'HOME.SEARCH' | translate }}..."
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">{{ "HOME.NUM" | translate }}</th>
            <th scope="col">{{ "HOME.TITLE" | translate }}</th>
            <th scope="col">{{ "HOME.THUMBNAIL" | translate }}</th>
            <th scope="col">{{ "HOME.ACTION" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr  
            *ngFor="
              let book of books | paginate: { itemsPerPage: 5, currentPage: page }
            "
          >
            <th>{{ book.id }}</th>
            <td>{{ book.title }}</td>
            <td>
              <div class="thumbnail">
                <img src="{{ book.thumbnail }}" alt="thumbnail" />
              </div>
            </td>
            <td class="btn-action">
              <button
                type="button"
                routerLink="/book/view/{{ book.id }}"
                class="btn btn-primary"
              >
                {{ "HOME.VIEW" | translate }}
              </button>
              <button
                type="button"
                routerLink="/book/update/{{ book.id }}"
                class="btn btn-warning mx-2"
              >
                {{ "HOME.EDIT" | translate }}
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteBook(book.id)"
              >
                {{ "HOME.DELETE" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-xl-12 pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
