.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.table{
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.table th{
    text-align: center;
}

.btn-action{
    text-align: center;
}

.thumbnail{
    margin: auto;
    width: 100px;
    height: 150px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-font{
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.pagination{
    width: 100%;
    margin: auto;
    margin-left: 550px;
}

/* loading */


