<div class="main-content">
    <div class="row">
        <div class="col-xl-12 btn-add">
            <button type="button" routerLink="/category/add" class="btn btn-primary">{{'HOME.ADD' | translate}}</button>
        </div>
        <div class="col-xl-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{'HOME.NUM' | translate}}</th>
                    <th scope="col">{{'HOME.TITLE' | translate}}</th>
                    <th scope="col">{{'HOME.ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data" >
                    <th>{{item.id}}</th>
                    <td>{{item.title}}</td>
                    <td class="btn-action">
                        <button type="button" routerLink="/category/update/{{item.id}}" class="btn btn-warning mx-2">{{'HOME.EDIT' | translate}}</button>
                        <button type="button" (click)="onDeleteCategory(item.id)" class="btn btn-danger">{{'HOME.DELETE' | translate}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->

