.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.table{
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.table th{
    text-align: center;
}

.btn-action{
    text-align: center;
}

.btn-add{
    margin-bottom: 16px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}