<div class="main-content">
  <div class="row">
    <div class="col-xl-3">
      <div class="img-box">
        <img
          src="{{book.thumbnail}}"
          alt="thumbnail"
        />
      </div>
    </div>
    <div class="col-xl-6" style="padding: 0;">
      <div class="title">
        <span>{{book.title}}</span>
      </div>
      <div class="description">
        <p>{{book.description}}</p>
      </div>
      <div class="row">
        <div class="col-xl-2 author">
          <div class="label">{{ "BOOK_VIEW.AUTHOR" | translate }}: </div>
          <div class="label">{{ "BOOK_VIEW.CATEGORY" | translate }}: </div>
        </div>
        <div class="col-xl-2 author">
          <div class="data">{{book.author}}</div>
          <div class="data">{{book.category.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" routerLink="/" class="btn btn-primary btnBack">{{ "BOOK_VIEW.BTN_BACK" | translate }}</button>
</div>
