.main-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.img-box{
    width: 250px;
    height: 350px;
    border: 1px solid #ebebeb;
    margin-bottom: 35px;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    font-size: 35px;
    margin-bottom: 20px;
}

.author{
    margin-top: 20px;
}

.label{
    opacity: 0.7;
    margin-bottom: 15px;
    font-family: "Roboto", "Kantumruy", sans-serif;
}

.data{
    margin-bottom: 15px;
}

.btnBack{
    font-family: "Roboto", "Kantumruy", sans-serif;
}
